# Copyright (c) 2020 The ZMK Contributors
# SPDX-License-Identifier: MIT

if SHIELD_atreus3d_LEFT

config ZMK_KEYBOARD_NAME
    default "atreus3d"

config ZMK_SPLIT_ROLE_CENTRAL
    default y

endif

if SHIELD_atreus3d_LEFT || SHIELD_atreus3d_RIGHT

config ZMK_SPLIT
    default y

endif
