# Copyright (c) 2020 The ZMK Contributors
# SPDX-License-Identifier: MIT

config SHIELD_atreus3d_LEFT
    def_bool $(shields_list_contains,atreus3d_left)

config SHIELD_atreus3d_RIGHT
    def_bool $(shields_list_contains,atreus3d_right)
